<div class="wrapper">
  <h1 class="title">
    You can start typing your password to check its strength
  </h1>
  <div class="content">
    <input
      type="password"
      class="input"
      (input)="handleChange($event)"
      placeholder="Start typing your password for check"
    />
    <div class="strength__wrapper">
      <span class="strength" [style.background-color]="color"></span>
      <span
        class="strength"
        [ngClass]="{
          green: passwordStrength === 'strong',
          yellow: passwordStrength === 'medium',
          red: passwordStrength === 'weak'
        }"
      ></span>
      <span
        class="strength"
        [ngClass]="{
          green: passwordStrength === 'strong',
          red: passwordStrength === 'weak'
        }"
      ></span>
    </div>
    <p class="tips" *ngIf="message">{{ message }}</p>
  </div>
</div>
