.input {
  margin-bottom: 5px;
  width: 200px;
}

.strength__wrapper {
  display: flex;
  height: 20px;
  width: 200px;
}

.strength {
  display: block;
  min-width: calc(100%/3);
  border: 1px solid black;
  background-color: rgb(208, 201, 201);

}
